.DS_Store
*/.DS_Store
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*

data/ahs/puf*
data/florida_septic_inspections/*
data/geography_files/tl_2012_us_county/
data/geography_files/tl_2021_us_county/
scripts/__pycache__/*